@charset "uft-8";

/* MAIN PAGE */
.main-page {
  background: url(../images/main_bg.jpg) no-repeat center center / cover;
}

.main-page .character-wrap {
  width: 20rem;
  height: 25rem;

  margin: 0 auto 2rem;
}

/* QUESTIONS PAGE */
.questions-page {
  background: url(../images//questions_bg.jpg) no-repeat center center / cover;
}

.questions-page progress {
  width: 100%;
  height: 1.8rem;

  margin: 0 auto 5rem;
}

::-webkit-progress-bar {
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: inset 3px 3px 10px rgb(238, 237, 237);
}
::-webkit-progress-value {
  border-radius: 1rem;
  background: var(--mainColor);
  background: -webkit-linear-gradient(to right, #fdb85d, var(--mainColor));
  background: linear-gradient(to right, #fdb85d, var(--mainColor));

  transition: all 0.2s;
}

.questions-page section {
  width: 100%;

  padding: 3rem 1rem 8rem;

  background: #fff;
  box-shadow: 0 0 1rem rgb(211, 211, 211);
  border-radius: 1rem;
}

.questions-page .question-number {
  font-size: 4rem;
  text-align: center;
  font-weight: 800;
  color: #13b491;
}

.questions-page .question {
  font-size: 2.2rem;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
}

.questions-page .choice-button {
  font-size: 1.3em;

  color: #888;
  background-color: #f2f4f6;
  box-shadow: 0 0.5rem 0 #dfe1e2;
  border-radius: 4rem;
}

.questions-page .choice-button:active {
  box-shadow: 0 0.2rem 0 #dfe1e2;
  transform: translateY(0.2rem);
}

/* RESULTS PAGE */
.results-page {
  background: #eaf8ff url(../images//result_bg.jpg) no-repeat center center / cover;
}

.results-page .character-wrap {
  width: 25rem;
  height: auto;

  margin: 0 auto;
}

.results-page section {
  margin-bottom: 3rem;
}

.results-page article {
  margin-top: 3rem;
}

.results-page h3 {
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;

  margin-bottom: 1rem;
}

.results-page .result-detail-wrap li {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 8rem;

  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding: 1rem 0.5rem;
  background-color: #fff;
  border-radius: 2rem;
  box-sizing: 0 0 2 #999;
}

.results-page .result-detail-wrap li + li {
  margin-top: 0.7rem;
}

.results-page .job-article {
}

.results-page .job-list-wrap {
  display: flex;
  align-items: center;
}

.results-page .job-list-wrap li {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1;
  aspect-ratio: 1/1;

  font-size: 2rem;
  line-height: 1.5;
  font-weight: 800;

  background: #fff url(../images/result_star.png) no-repeat center / 70%;
  border: 1px solid var(--mainColor);
  border-radius: 1rem;
}

.results-page .job-list-wrap li + li {
  margin-left: 0.5rem;
}

.results-page .recommend-link-wrap {
  width: 100%;
  height: auto;

  border-radius: 1rem;
  overflow: hidden;
}
